{{#if isAdm}}
    {{#if productViewModel}}
        <div>{{productViewModel.name}}</div>
        <div>{{productViewModel.collectionName}}</div>
        <div>{{productViewModel.price}}</div>
        <div>{{productViewModel.description}}</div>
        <hr>
        <form action="/api/product/delete/" method="post">

            <input type="hidden" name="_id" value="{{productViewModel._id}}">

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary" type="submit">Удалить товар</button>

        </form>
    {{/if}}
{{/if}}
