{{#if isAdm}}
    {{#if saleViewModel}}
        <div>{{saleViewModel.saleType}}</div>
        <div>{{saleViewModel.saleValue}}</div>
        <div>{{saleViewModel.saleName}}</div>
        <div>{{saleViewModel.saleDescription}}</div>
        <hr>
        <form action="/api/sale/delete/" method="post">

            <input type="hidden" name="_id" value="{{saleViewModel._id}}">

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary" type="submit">Удалить скидку (акцию)</button>

        </form>
    {{/if}}
{{/if}}