{{#if isAdm}}
    {{#if orderVM}}
        <div>{{orderVM._id}}</div>
        <div>{{orderVM.name}}</div>
        <div>{{orderVM.email}}</div>
        <div>{{orderVM.phone}}</div>
        <div>{{orderVM.address}}</div>
        <div>{{orderVM.items}}</div>
        <div>{{orderVM.status}}</div>
        <div>{{orderVM.cancelled}}</div>
        <div>{{orderVM.date}}</div>
        <hr>
        <form action="/api/order/admin/delete/" method="post">

            <input type="hidden" name="_id" value="{{orderVM._id}}">

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary" type="submit">Удалить заказ</button>

        </form>
    {{/if}}
{{/if}}