{{#if isAdm}}
    <h1>Изменить существующую скидку (акцию)</h1>

    <form action="/api/sale/edit" method="post">
        <div class="input-field">
            <input id="saleType" name="saleType" type="text" class="validate" value="{{saleViewModel.saleType}}" required>
            <label for="saleType">Тип скидки [%]/[число]</label>
            <span class="helper-text" data-error="Введите percent/number"></span>
        </div>

        <div class="input-field">
            <input id="saleValue" name="saleValue" type="number" class="validate" value="{{saleViewModel.saleValue}}" required>
            <label for="saleValue">Значение скидки</label>
            <span class="helper-text" data-error="Введите значение (% - 1..99, [1] - 1...)"></span>
        </div>

        <div class="input-field">
            <input id="saleName" name="saleName" type="text" class="validate" value="{{saleViewModel.saleName}}" required>
            <label for="saleName">Название скидки (акции)</label>
            <span class="helper-text" data-error="Введите название"></span>
        </div>

        <div class="input-field">
            <input id="saleDescription" name="saleDescription" type="text" class="validate" value="{{saleViewModel.saleDescription}}">
            <label for="saleDescription">Описание акции</label>
            <span class="helper-text" data-error="Введите описание"></span>
        </div>

        <input type="hidden" name="_id" value="{{saleViewModel._id}}">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Изменить скидку (акцию)</button>
    </form>
{{/if}}