{{#if isAdm}}
    <h1>Изменить существующий товар</h1>

    <form action="/api/product/edit" method="POST">
        <div class="input-field">
            <input id="name" name="name" type="text" class="validate" value="{{avm.productVM.name}}" required>
            <label for="name">Название товара</label>
            <span class="helper-text" data-error="Введите название"></span>
        </div>

        {{#if avm.collectionsVM}}
            <div>Названия текущих коллекций:</div>
            <ul>
                {{#each avm.collectionsVM}}
                    <li>{{this.collectionName}} - {{this.collectionId}}</li>
                {{/each}}
            </ul>
        {{/if}}
        <div class="input-field">
            <input id="collectionId" name="collectionId" type="text" class="validate" value="{{avm.productVM.collectionId}}" required>
            <label for="collectionId">ID Коллекции</label>
            <span class="helper-text" data-error="Введите ID коллекции (тип товара)"></span>
        </div>

        <div class="input-field">
            <input id="price" name="price" type="number" class="validate" min=1 value="{{avm.productVM.price}}" required>
            <label for="price">Цена</label>
            <span class="helper-text" data-error="Введите цену (>1)"></span>
        </div>

        <div class="input-field">
            <input id="description" name="description" type="text" class="validate" value="{{avm.productVM.description}}" required>
            <label for="description">Описание</label>
            <span class="helper-text" data-error="Введите описание"></span>
        </div>

        <div class="input-field">
            <input id="isActive" name="isActive" type="checkbox" class="validate">
            <label for="isActive">Активен</label>
            <span class="helper-text" data-error="Активен"></span>
        </div>

        <input type="hidden" name="_id" value="{{avm.productVM._id}}">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Изменить товар</button>
    </form>
{{/if}}
