<h2>Настройки сайта</h2>

{{#if metaVM}}
    <div>Emails: {{metaVM.isEmails}}</div>
{{/if}}

<form action="/api/meta/setEmails" method="post">
    <div class="input-field">
        <input id="emailsFlag" name="emailsFlag" type="text" class="validate" value="{{metaVM.isEmails}}" required>
        <label for="emailsFlag">Отправка писем</label>
        <span class="helper-text" data-error="Введите trie/false"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary" type="submit">Изменить</button>
</form>
<hr>

{{#if metaVM}}
    <div>Log: {{metaVM.isLog}}</div>
{{/if}}
<form action="/api/meta/setLog" method="post">
    <div class="input-field">
        <input id="logFlag" name="logFlag" type="text" class="validate" value="{{metaVM.isLog}}" required>
        <label for="logFlag">Запись логов</label>
        <span class="helper-text" data-error="Введите trie/false"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary" type="submit">Изменить</button>
</form>
<hr>

{{#if metaVM}}
    <div>Backup: {{metaVM.isBackup}}</div>
{{/if}}
<form action="/api/meta/setBackup" method="post">
    <div class="input-field">
        <input id="backupFlag" name="backupFlag" type="text" class="validate" value="{{metaVM.isBackup}}" required>
        <label for="backupFlag">Создание бэкапов</label>
        <span class="helper-text" data-error="Введите trie/false"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary" type="submit">Изменить</button>
</form>